@import url("https://fonts.googleapis.com/css2?family=Tektur&family=Ubuntu:wght@300&display=swap");

.wraper {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(rgb(77, 178, 255), rgb(223, 245, 255));
  border: solid 0px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
}
.lis {
  display: none;
}
